
.button{
    position: absolute;
    background: #FFFFFF;
    border-radius:12px;
    border: none;
    height: 6vh;
    padding: 0 0.3vw 0 0.3vw;
    top: 4vh;
    right: 0;

    box-shadow: 0 0 11px rgba(33,33,33,.4);
    cursor: pointer;
    
}

.button img{
    width: 2vw;
    height: 4vh;
}

.clickedNotification{
    background: #22311E;
}