.button{
    position: absolute;
    background: #FFFFFF;
    border-radius:12px;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.06);
    height: 10.5vh;
    right: 3vw;
    top: 2vh;
    width: 17vw;
    border: none;
    display: flex;
    cursor: pointer;
    
}
.avatarContainer{
    position: relative;
    top: 0.9vh;
    left: 0.5vw;
    
}
.avatar{
    position: relative;
    width:4vw;
    height: 8.5vh;
    border-radius: 12px;
}
.text{
    position: relative;
    left: 1vw;
    top: 2vh;
    display: flex;
    flex-direction: column;
    
    
}
.username{
    position: relative;
    font-size: large;
    cursor: pointer;
    color:#22311E
}

.role
{
    font-size: small;
    position: relative;
    align-self:flex-start;
    margin-top: 0.5vh;
    color: #909090;
    cursor: pointer;
}

.text:hover .username{
    text-decoration: underline;
}