.statusImg{
    position: relative;
    height: 5vh;
    width: 2vw;
    top: 4vh;
    left: 7.4vw;

}
.img{
    position: relative;
}
.statusCircle{
    position: relative;
    height: 3vh;
    width: 1vw;
    top: 1.7vh;
    left: 6.6vw;
    
}
.text{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 3.9vh;
    left: 1vw;
}
.statusWord{
    position: relative;
    font-size: smaller;
    color: #999999;
    left: 0.2vw;
}

.status{
    position: relative;
   
    font-size: large;
    color: #6AA420;
}