.buttonIcon{
    height:4vh;
    margin:0 0.2vw 0 0;
    cursor: pointer;
}


.filterHeading{
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 0 0.5vw;
}

.filterInputContainer{
   display:inline-grid;
   margin: 3vh 0 0 1vw;
   row-gap: 1vh; 
}

.filterInput{
    padding: 1.5vh 1vw 1.25vh 1vw;
    font-family: "Roboto Mono",monospace;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.filterInput:focus {
    outline: none;
    border-color: #0398fc;
    box-shadow: 0 0 0 1px #0398fc;
   }
.select{
    width: 9.3vw;
    position: relative;
    top: 0.1vh;
}

.unselect{
    display: none;
}

::-webkit-calendar-picker-indicator{
    cursor: pointer;
}

.apply{
    margin:1vh 0 0 38vw;
}